/*sobre nosotros*/

.chef {
  display: flex;
  max-width: 120rem;
  margin: auto;
  width: 95%;
  padding-top: 8%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  .contenido-chef {
    .texto-chef {
      flex: 0 0 calc(50% - 1rem);
      h3 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
      }
    }
    .imagen-chef {
      flex: 0 0 calc(50% - 1rem);
    }
  }
  .contenedor-nosotros {
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    .imagenes-nosotros {
      display: flex;
      justify-content: space-around;
      img {
        border-radius: 5px;
      }
    }
  }
  h2 {
    background-color: $azul;
    display: inline-block;
    padding: 1rem 3rem;
    color: $blanco;
    font-size: 4rem;
  }
}
